.title p {
  margin-right: 130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.title h2 {
  margin-right: 40px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.sign-up.form {
  margin-left: 20px;
}
.form .form-control {
  width: 300px;
  border: 0;
  border-bottom: 1px solid rgb(154, 148, 148);
  margin: auto 5px;
  margin-top: 40px;
  border-radius: 0;
}
.btns button {
  border-radius: 4px;
  height: 56px;
  width: 340px;
  color: white;
  display: block;
  margin: auto;
}
.btn2 {
  border: 1px solid rgb(154, 148, 148);
}
.btns {
  padding: 20px;
}
.sign-up-img img {
  width: 100%;
}
.log-in {
  margin-left: 50px;
}

input.input-error,
select.input-error {
  border-color: rgb(255, 1, 1);
}
@media (min-width: 0px) and (max-width: 576px) {
  .title p {
    margin-left: 10px;
    font-size: 12px;
  }
  .title h2 {
    margin-top: -45px;
    font-size: 26px;
  }
  .sign-up form {
    margin-top: -70px;
  }
  .sign-up .form {
  }
  .Flex-between-buttons-login {
    margin-top: 0px;
    display: flex-basis;
  }
  .sign-up .form .form-control {
    width: 150px;
  }
  .btns button {
    font-size: 12px;
    height: 40px;
    width: 200px;
  }
  .btn2 {
    border: 1px solid rgb(154, 148, 148);
  }
  .btns {
    padding: 20px;
  }
  .sign-up-img img {
    width: 100%;
  }
  .log-in {
    margin-left: 50px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .title p {
    margin-left: 50px;
  }
  .title h2 {
    margin-top: -20px;
  }
  .sign-up form {
    margin-top: 00px;
  }
  .sign-up .form {
    display: flex;
  }
  .Flex-between-buttons-login {
    margin-top: 50px;
    display: flex-basis;
  }
  .sign-up .form .form-control {
    width: 150px;
  }
  .btns button {
    font-size: 12px;
    height: 40px;
    width: 200px;
  }
  .btn2 {
    border: 1px solid rgb(154, 148, 148);
  }
  .btns {
    padding: 20px;
  }
  .sign-up-img img {
    width: 100%;
  }
  .log-in {
    margin-left: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .title h2 {
    margin-top: -50px;
  }
  .log-in {
    margin-left: -100px;
  }
  .form .form-control {
    width: 200px;
    margin-top: 0px;
  }
  .btns {
    margin-left: -0px;
  }
  .btns button {
    height: 56px;
    width: 200px;
  }

  .text {
    margin-top: 0px;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .form .form-control {
    width: 200px;
    margin-top: 20px;
  }
  .btns {
    margin-left: -0px;
  }
}
