.brdr {
  height: 40px;
  width: 20px;
  border-radius: 4px;
  background-color: tomato;
}
.timer {
  margin-top: -10px;
}


.img-container {
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 300px;
  overflow: visible;
  position: relative;
}
.img-container img {
  width: 80%;
  position: relative;
}
.img-container img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.img-container .icons {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.img-container .icons > * {
  pointer-events: auto;
}

.mins {
  width: 50px;
  height: 30px;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 11;
}

.mins p {
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.right-icons {
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 11;
}

.right-icons .rounded-circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.right-icons svg {
  font-size: 18px;
  color: #000;
}

.right-icons a,
.right-icons button {
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 0;
  line-height: 0;
}

.right-icons a:hover,
.right-icons button:hover {
  transform: scale(1.1);
}
.add-to-cart {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  transition: 0.8;
  background-color: black;
  color: white;
  cursor: pointer;
}
.img-container:hover .add-to-cart {
  display: flex;
}

.view-all-details button {
  width: 234px;
  height: 56px;
  border-radius: 4px;
  background-color: rgba(219, 68, 68, 1);
}
.line {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0, 0.3);
  margin: auto;
}

.catogry-container:hover {
  background-color: rgba(168, 81, 81, 0.467);
  color: white;
  cursor: pointer;
}
.ad-desc {
  margin-top: 69px;
  color: rgba(0, 255, 102, 1);
}
.ad-img {
  background-image: radial-gradient(black, rgb(60, 60, 60));
  box-shadow: 10px;
}
.circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  text-align: center;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.date {
  position: absolute;
  top: 20px;
  left: 10px;
}
.ps5-ad {
  padding: 30px;
  margin: 10px;
}
.ps5-ad img {
  width: 78%;
}
.music-ad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

/* Mobile Responsive Styles */
@media (max-width: 575.98px) {
  .product-container {
    margin-bottom: 20px;
    position: relative;
    overflow: visible;
  }
  
  .img-container {
    height: 250px;
  }
  
  .img-container img {
    width: 90%;
  }
  
  .right-icons {
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .mins {
    margin-left: 5px;
    margin-top: 5px;
    width: 40px;
    height: 25px;
  }
  
  .mins p {
    font-size: 12px;
  }
  
  .product-desc h5 {
    font-size: 14px;
  }
  
  .product-desc .price p {
    font-size: 14px;
  }
  
  .view-all-details button {
    width: 100%;
  }
  
  .timer {
    margin-top: 0;
    margin-left: 0;
  }
  
  .flash-sales {
    font-size: 18px;
  }
  
  .ad-desc {
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .ad-desc h1 {
    font-size: 20px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
  
  .ps5-ad {
    padding: 15px;
    margin: 5px;
  }
  
  .ps5-ad img {
    width: 100%;
  }
  
  .music-ad {
    flex-direction: column;
    padding: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .img-container {
    height: 280px;
  }
  
  .right-icons {
    margin-right: 20px;
  }
  
  .ad-desc {
    margin-top: 40px;
  }
  
  .circle {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .ad-desc {
    margin-top: 50px;
  }
  
  .new-arrival-section img {
    width: 80%;
  }
}
