.carousel-indicators .circle-carousel {
  width: 12px;
  height: 12px;
}
.carousel-indicators .active {
  background-color: tomato;
}
.brdr {
  height: 40px;
  width: 20px;

  border-radius: 4px;
  background-color: tomato;
}
.timer {
  margin-top: -10px;
}
.arrow {
  width: 46px;
  height: 46px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 50%;
}
.scroll {
  width: 2000px;
  height: 450px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.img-container {
  width: 100%;
  text-align: center;
  background-color: rgba(245, 245, 245, 1);
  height: 300px;
  position: relative;
  overflow: hidden;
}
.add-to-cart {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  background-color: black;
  color: white;
}
.img-container:hover .add-to-cart {
  display: flex;
}
.img-container img {
  width: 55%;
  margin-top: 20px;
}
.chair {
  margin-top: -60px;
}
.mins {
  width: 20%;
  height: 25px;
  border-radius: 4px;
  margin-left: -24px;
  margin-top: -26px;
  background-color: red;
}
.right-icons {
  margin-right: 10px;
  margin-top: 10px;
}

.wrapper {
  display: inline-block;
  width: 1500px;
  height: 450px;
  background-color: white;
  padding: 16px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: start;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

.content {
  display: inline-block;
  height: 100%;
  width: calc(90vw / 5);
  text-align: start;
  float: left;
}

.content-wrapper {
  height: 100%;
  width: calc((80vw / 5) * 7);
  text-align: start;
}

.buttons-wrapper {
  position: absolute;
  width: 90vw;
  height: calc(100px - 16px);
}
.view-all-details button {
  width: 234px;
  height: 56px;
  border-radius: 4px;
  background-color: rgba(219, 68, 68, 1);
}
.line {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0, 0.3);
  margin: auto;
}
.catogry-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 145px;
  text-align: center;
}

.catogry-container:hover {
  background-color: rgba(168, 81, 81, 0.467);
  color: white;
}
.ad-desc {
  margin-top: 69px;
  color: rgba(0, 255, 102, 1);
}
.ad-img {
  background-image: radial-gradient(black, rgb(60, 60, 60));
  box-shadow: 10px;
}
.circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  text-align: center;
  margin-right: 10px;
}
.circle p {
  font-size: 10px;
}
.Buy-Now {
  margin-top: 30px;
  background-color: rgba(0, 255, 102, 1);
  border: 0;
  border-radius: 4px;
  margin-bottom: 50px;
}
.Buy-Now:hover {
  background-color: rgba(219, 68, 68, 1);
  color: white;
}
.new-product {
  width: 50px;
  height: 25px;
  border-radius: 4px;
  margin-left: -24px;
  margin-top: -26px;
  background-color: rgba(0, 255, 102, 1);
  color: white;
}

/* The container */
.ratio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.ratio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ff0d0d;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.ratio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.ratio input:checked ~ .checkmark {
  border: black 3px solid;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.ratio input:checked ~ .checkmark:after {
  display: block;
}

.women-desc {
  top: 130px;
  left: 24px;
}
.speaker-desc {
  bottom: 20px;
  left: 24px;
}
.speaker-img {
  height: 280px;
}
.service-icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#D9D9D9;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;


}
.for-icon
{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);

}
