form {
  width: 340px;
  height: 40px;
  padding: auto;
}
form ::placeholder {
  /* Title/12PX Regular */

  font-family: "Poppins", "FontAwesome";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
}
.icons {
  font-size: 30px;
  margin-left: 40px;
  margin-right: -50px;

  align-items: center;
  display: flex;
}
.icons .icon {
  cursor: pointer;
}
.btn-group {
  width: 20px;
}

@media (min-width: 0px) and (max-width: 576px) {
  form {
    width: 200px;
    height: 40px;
    padding: auto;
    margin-right:10px;
  }
  .icons
  {
    margin-right: 20px;

  }
.navbar-brand
{
  font-size: 15px;
}
}
@media (min-width: 576px) and (max-width: 768px) {
  form {
    width: 200px;
    height: 40px;
    padding: auto;
    margin-right: 20px;
  }
  .icons
  {
    margin-right: 10px;
  }
}
