.login .text .title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.login .text .title h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.login .login-btn {
  height: 56px;
  width: 143px;
  border-radius: 4px;
  padding: 16px 48px 16px 48px;
  background-color: rgba(219, 68, 68, 1);
  margin-right: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.login .login-btn p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0px;
}
.link {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  color: rgba(219, 68, 68, 1);
}
.login-img img {
  width: 100%;
}




@media (min-width: 0px) and (max-width: 576px) {
  .login-img img {
    width: 100%;
  }
  .text {
    margin-top: 70px;
  }
  .text h2 {
    margin-left: -70px;
  }

  .login .login-btn {
    height: 36px;
    width: 103px;
    padding: 0;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login .login-btn p {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 15px;
  }
  .text .link {
    font-size: 12px;
  }
  .login .text .title h2 {
    font-size: 26px;
  }
  .login .text .title p {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .text {
    margin-top: 0px;
  }
}
